<a href="https://colab.research.google.com/github/Navya-amarneni/keras_learning/blob/main/TextClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd

In [43]:
dataset = {
    'yelp': 'yelp_labelled.txt',
    'amazon': 'amazon_cells_labelled.txt',
    'imdb' : 'imdb_labelled.txt'
}

In [44]:
df_list=[]

for source,filepath in dataset.items():
  df=pd.read_csv(filepath,names=['sentences','review'],sep='\t')
  df['source']=source
  df_list.append(df)

In [45]:
df=pd.concat(df_list)
df

                                             sentences  review source
0                             Wow... Loved this place.       1   yelp
1                                   Crust is not good.       0   yelp
2            Not tasty and the texture was just nasty.       0   yelp
3    Stopped by during the late May bank holiday of...       1   yelp
4    The selection on the menu was great and so wer...       1   yelp
..                                                 ...     ...    ...
743  I just got bored watching Jessice Lange take h...       0   imdb
744  Unfortunately, any virtue in this film's produ...       0   imdb
745                   In a word, it is embarrassing.         0   imdb
746                               Exceptionally bad!         0   imdb
747  All in all its an insult to one's intelligence...       0   imdb

[2748 rows x 3 columns]

In [46]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

sentences=df['sentences'].values
labels=df['review'].values

In [47]:
from sklearn.model_selection import train_test_split
sent_train,sent_test,labels_train,labels_test=train_test_split(sentences,labels,test_size=0.20,random_state=1000)

In [48]:
print(sent_train.shape)

(2198,)

In [49]:
vectorizer= CountVectorizer()
vectorizer.fit(sent_train)

sent_train = vectorizer.transform(sent_train)
sent_test = vectorizer.transform(sent_test)

In [50]:
print(sent_train.shape)

(2198, 4642)

In [51]:
model = LogisticRegression()
model.fit(sent_train,labels_train)
score=model.score(sent_test,labels_test)
print(score)

0.82